.cvsignore
.deps
Makefile.global
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.guess
config.h
config.h.in
config.nice
config.sub
configure
configure.in
fdpass.xml
install-sh
ltmain.sh
missing
mkinstalldirs
run-tests.php
